[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "==2.2.7"
django-allauth = "==0.53.0"

[dev-packages]

[requires]
python_version = "3.11"
